#forms-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 30vw;
}

@media (width <=720px) {
  #root {
    flex-direction: column;
  }

  #forms-section {
    max-width: 90vw;
  }

  #preview {
    max-width: 90vw !important;
  }
}