#preview {
  background-color: rgb(250, 255, 255);
  padding: 10px;
  border-radius: 5px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info-details {
  display: flex;
  gap: 10px;
}

.header {
  text-align: left;
  background-color: rgb(228, 245, 255);
  border-radius: 5px;
}

.main-content__title {
  border-bottom: 1px solid black;
  text-align: left;
  min-width: 100%;
}

.preview-container {
  display: flex;
  justify-content: space-between;
}